body{
    background-color: lightblue;
}
h1,h2{
    text-align: center;
}
.details{
    text-align: center;
}
#fname,#lname,#pwd,#phonenum{
    padding: 5px 10px;
}
#email{
    padding-right: 48px;
}
#symbol{
    color: whitesmoke;
    position: fixed;
    top: 0%;
}